body {
  background-color: #232323;
  font-family: 'Lato', sans-serif;
  color: white;
  margin: 0 auto;
  height: 100%;
}

img {
  float: right;
  width: 4rem;
  height: 4rem;
}

.logo {
  display: flex;
  align-items: center;
  padding-right: 10%;
  text-align: center;
  margin: 0 auto;
}

#hpblink {
  color: white;
  font-size: 1.10rem;
  margin-left: 1.5%;
}

#hpblink:hover {
  color: #17a2b8;
  text-decoration: none;
}

#hpblink:visited {
  color: #17a2b8;
}

#resultParagraph {
  font-weight: bold;
}

input {
  margin-bottom: 1.25rem;
}

nav {
  height: 70px;
  margin-bottom: 40px;
}

nav .btn-outline-info:hover {
  color:blue;
}

a.nav-link {
color: white;
font-size: 1.1rem;
}

.logonavbar {
  font-size: 1.50rem;
  font-family: 'Montserrat', sans-serif;
}

#cryptoinfo {
  font-size: 1.20rem;
}