body {
  background-color: #232323;
  font-family: 'Lato', sans-serif;
  color: white;
  margin: 0 auto;
}

img {
  float: right;
  width: 4rem;
  height: 4rem;
}

.logo {
  display: flex;
  align-items: center;
  padding-right: 10%;
  text-align: center;
}

a {
  color: #17a2b8;
  margin-right: 
  
}

a:hover {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

#resultParagraph {
  font-weight: bold;
}

input {
  margin-bottom: 1.25rem;
}
